# Load Test Results


## Load Test Run - 2026-07-03T22:01:54.932167Z

| Metric | Value |
|---|---:|
| URL | `http://localhost:8000/predict` |
| Concurrency | 5 |
| Total requests | 50 |
| Successful requests | 50 |
| Failed requests | 0 |
| Total time seconds | 0.3984 |
| Throughput requests/sec | 125.4983 |
| Average latency seconds | 0.0387 |
| p50 latency seconds | 0.0227 |
| p95 latency seconds | 0.1755 |
| Max latency seconds | 0.1769 |
| p95 < 2 seconds | PASS |


## Load Test Run - 2026-07-03T22:01:55.988433Z

| Metric | Value |
|---|---:|
| URL | `http://localhost:8000/predict` |
| Concurrency | 15 |
| Total requests | 150 |
| Successful requests | 150 |
| Failed requests | 0 |
| Total time seconds | 0.6927 |
| Throughput requests/sec | 216.5549 |
| Average latency seconds | 0.0666 |
| p50 latency seconds | 0.0678 |
| p95 latency seconds | 0.0841 |
| Max latency seconds | 0.0944 |
| p95 < 2 seconds | PASS |


## Load Test Run - 2026-07-03T22:01:57.463700Z

| Metric | Value |
|---|---:|
| URL | `http://localhost:8000/predict` |
| Concurrency | 25 |
| Total requests | 250 |
| Successful requests | 250 |
| Failed requests | 0 |
| Total time seconds | 1.0748 |
| Throughput requests/sec | 232.5911 |
| Average latency seconds | 0.1024 |
| p50 latency seconds | 0.1025 |
| p95 latency seconds | 0.1232 |
| Max latency seconds | 0.1453 |
| p95 < 2 seconds | PASS |


## Load Test Run - 2026-07-03T22:02:19.706914Z

| Metric | Value |
|---|---:|
| URL | `http://localhost:8000/predict` |
| Concurrency | 25 |
| Total requests | 250 |
| Successful requests | 250 |
| Failed requests | 0 |
| Total time seconds | 1.0808 |
| Throughput requests/sec | 231.3167 |
| Average latency seconds | 0.1032 |
| p50 latency seconds | 0.1041 |
| p95 latency seconds | 0.1238 |
| Max latency seconds | 0.1431 |
| p95 < 2 seconds | PASS |


## Load Test Run - 2026-07-03T22:45:18.006862Z

| Metric | Value |
|---|---:|
| URL | `http://13.53.125.154:8000/predict` |
| Concurrency | 15 |
| Total requests | 150 |
| Successful requests | 150 |
| Failed requests | 0 |
| Total time seconds | 3.7133 |
| Throughput requests/sec | 40.3949 |
| Average latency seconds | 0.365 |
| p50 latency seconds | 0.3625 |
| p95 latency seconds | 0.4031 |
| Max latency seconds | 0.4105 |
| p95 < 2 seconds | PASS |


## Load Test Run - 2026-07-03T22:45:22.164835Z

| Metric | Value |
|---|---:|
| URL | `http://13.53.125.154:8000/predict` |
| Concurrency | 25 |
| Total requests | 250 |
| Successful requests | 250 |
| Failed requests | 0 |
| Total time seconds | 3.79 |
| Throughput requests/sec | 65.9634 |
| Average latency seconds | 0.3693 |
| p50 latency seconds | 0.3636 |
| p95 latency seconds | 0.4252 |
| Max latency seconds | 0.4421 |
| p95 < 2 seconds | PASS |


## Load Test Run - 2026-07-03T23:13:14.877709Z

| Metric | Value |
|---|---:|
| URL | `http://13.53.125.154:8000/predict` |
| Concurrency | 25 |
| Total requests | 250 |
| Successful requests | 250 |
| Failed requests | 0 |
| Total time seconds | 3.7975 |
| Throughput requests/sec | 65.8325 |
| Average latency seconds | 0.3684 |
| p50 latency seconds | 0.3585 |
| p95 latency seconds | 0.4343 |
| Max latency seconds | 0.4433 |
| p95 < 2 seconds | PASS |


## Load Test Run - 2026-07-03T23:17:51.695865Z

| Metric | Value |
|---|---:|
| URL | `http://13.53.125.154:8000/predict` |
| Concurrency | 5 |
| Total requests | 20 |
| Successful requests | 20 |
| Failed requests | 0 |
| Total time seconds | 1.4699 |
| Throughput requests/sec | 13.6065 |
| Average latency seconds | 0.3616 |
| p50 latency seconds | 0.3646 |
| p95 latency seconds | 0.3726 |
| Max latency seconds | 0.3798 |
| p95 < 2 seconds | PASS |

